#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Bb]oost*/
*.sdf
[Dd]sacesrv_discovery*/
.vs/
[Pp]rivate*/

*.dll
*.pdb

Plugins/Public/*/headers/
Plugins/Public/*/libs/
Binaries/bin-vc14/flhook_plugins/public/base.dll
*.pdb
Plugins/Public/base_plugin/Base Plugin.vc14.vcxproj
